<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hulfix">

    <application
        android:label="HULFix Overlay"
        android:icon="@android:drawable/ic_dialog_info">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Custom Heads-Up notification overlay for LineageOS 20 landscape mode" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
